# babel.cfg
# =========
# Tells pybabel which files to scan when extracting translatable strings.
#
# Extract:  pybabel extract -F babel.cfg -o translations/messages.pot .
# Init new: pybabel init -i translations/messages.pot -d translations -l ar
# Update:   pybabel update -i translations/messages.pot -d translations
# Compile:  pybabel compile -d translations
#
# After adding new _('...') strings in templates or Python code, run
# extract + update, then fill in the new msgstr entries in each .po file,
# then compile.

[python: sub_modules/**.py]
encoding = utf-8

[python: views/**.py]
encoding = utf-8

[jinja2: templates/**.html]
encoding = utf-8
# extensions = jinja2.ext.autoescape
